:root{
    --text_color:#13F7D2;
    --background_color:#252628;
}
body{
    background-color:#252628 !important;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
} 
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar
{
	width: 12px;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--background_color);
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 30px;
}


.navbar img{
    position: absolute;
    width:80px;
    height: 70px;
    left:5%;
}

nav{
    overflow: hidden;
    margin: 49px 96px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 60px;
}

.navbar-fixed-top.scrolled {
    background-color:#343538 !important;
    margin-top:0px;
    transition: all 0.3s ease;
    font-size:25px !important ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mode-change-color{
    filter: invert(100%) sepia(55%) saturate(2%) hue-rotate(241deg) brightness(110%) contrast(100%);
}

.link-change-color{
    filter: invert(100%) sepia(55%) saturate(2%) hue-rotate(241deg) brightness(110%) contrast(100%);
}

.link2-change-color{
    filter: invert(0%) sepia(55%) saturate(2%) hue-rotate(241deg) brightness(110%) contrast(100%);
}

.nav-change-color{
    background-color: #252628 !important;
    /* filter: invert(30%) !important; */
}

.nav-logo.scroll-img{
    width: 70px;
    height: 60px;
    transition: all 0.3s ease;
}

.navbar-right{
    position: relative;
}

.navbar-nav li a{
    color: #13F7D2;
    margin-left: 50px !important;
    font-weight: bolder;
    text-align: center;

}

.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #13F7D2;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
.navbar-nav a:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }


.navbar-nav li a:hover{
    background: transparent !important;
}

@media screen and (max-width:2600px)
{
    .navbar{
        margin-top:30px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 30px 20px;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}

.intro-header{
    padding-left: 80px;
    padding-top: 200px;
    padding-bottom: 70px;
}


.intro-header .sub-heading{
    text-align: left;
    color: #13F7D2;
    font-weight: lighter;
    font-size: 36px;
}

/* .theme{
    float: right;
    position: relative;
    bottom: 55px;
} */

.switch {
    float: right;
    position: relative;
    width: 60px;
    height: 34px;
    bottom: 50px;

  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0D9C85;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #13F7D2;
  }

  input:checked + .slider:before{
    background-color: #252628;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.intro-header .main-heading{
    color: #FFFFFF;
    font-size: 150px;
    font-weight: bold;
    text-align: left;
}

.intro-header p{
    text-align: left;
    color: #FFFFFF;
    position: relative;
    max-width:85ch;
    line-height: 1.53;
    font-size: 18px;
}

@media screen and (min-width:1900px)
{

    .navbar{
        padding-right: 80px;
    }

    .intro-header .sub-heading{
        font-size: 215%;
        padding-left: 150px;
    }

    .switch{
        right: 40px;
    }

    .intro-header .main-heading{
        font-size: 615%;
        padding-left: 150px;
    }

    .intro-header p{
        font-size: 120%;
        padding-left: 150px;
    }
}

.view-all{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #13F7D2;
    margin-bottom: 0px;
}
.arrow-down{
    text-align: center;
    color: #13F7D2;
    font-size: 24px;
    font-weight:800px ;
}

.wing-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}
.wing-dis{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.wing-image{
    width: 80px;
    height: 80px;
}
.more{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    text-decoration: none;
    color: #13F7D2;
}
.dot-image{
    margin-left: 44%;
    margin-top: 100px;
}
.overall-section{
    width: 90%;
    margin-left: 5%;
    display: inline-block;
    background-color: #343538;
    margin-top: 100px;
    margin-bottom: 100px;
}
.overall-heading{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 79px;
    color: #13F7D2;
    padding: 35px;
}
.overall-box-cover{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 50px;
}
.overall-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.overall-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.overall-post{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    line-height: 22px;
    color: #13F7D2;
}
.overall-image{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
}
.overall-icon{
    border-radius: 100%;
    border: 3px solid #9AA6A5;
    font-size: 25px;
    color: #9AA6A5;
    padding: 10px;
    display: inline;
    margin-left: 1em;
    float: left;
}

.overall-section-dots{
    padding: 20px;
    margin-top: 50px;
    margin-left: 3%;
}
.margin-div-bottom1{
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 17px;
}
.margin-div-bottom{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 17px;
}
.margin-div-bottom1{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 17px;
}
.margin-div-bottom{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 17px;
    transition: all 0.3s ease;
}

.margin-div-bottom:hover{
    background-color: #343538;
    transform: scale(1.02);
    /*transition:ease 0.3s ;*/
}
.margin-div-bottom>img{
    transition: 1s ease;
    display: block;
}

.margin-div-bottom>p{
    transition: 1s ease;
}

.margin-div-bottom:hover>a{
    text-decoration: none;
    /* transition:1s ease ; */
}

.footer{
    display: inline-block;
    background-color: #1D1D1F;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 40px;
    padding-top:60px;
    height: 330px;
}

.blogs h2{
    color: #FFFFFF;
    font-weight: 700 !important;
    font-size: 35px;
}

.blogs button{
    position: relative;
    background-color: #13F7D2;
    border-color: #13F7D2;
    top:20px;
    height: 55px;
    width: 400px;
}

.blogs .btn{
    text-align: left !important;
    font-size: 28px;
    font-weight: 800;
}

.blogs button:hover{
    border-color: #13F7D2;
    background-color: aqua;
    text-decoration: none;
}


.blogs span{
    position: relative;
    color: #000000;
    top: 0px;
}

.contacts .icons{
    position: relative;
    top:29px;
}

.contacts a{
    padding: 10px 15px;
    font-size: 20px;
    color:#13F7D2;
    border-radius: 100%;
    border: 2px solid #13F7D2;
    margin:0 10px;
}


.contacts h2{
    color: #FFFFFF;
    font-weight: 700 !important;
    font-size: 35px;
}  

.fb-icon{
    padding:10px 15px;
}

@media only screen and (max-width: 800px) {



    .navbar img{
        width: 60px;
        height: 50px;
        left:70px;
    }

    .navbar{
        margin-left: -10px;
        width: 100%;
        padding-bottom: 0px ;
    }

    .intro-header{
        position: relative;
        top:-40px;
        padding-left: 30px;
        padding-bottom: 60px;
    }

    .intro-header .main-heading{
        font-size: 67px;
    }

    .intro-header .sub-heading{
        font-size: 25px;
    }
    .display-dot{
        display: none;
    }
    .intro-header p{
        font-size: 17px;
        /* padding-left: 29px; */
        padding-top: 15px;
    }

    .dots-1 img{
        left:70%;
    }
    .wing-title {
        font-size: 18px;
    }
    .wing-dis{
        font-size: 12px;
    }
    .overall-box-cover{
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    .dot-image{
        margin-left: 6%;
        width: 150px;
    }
    .overall-image{
        width: 100px;
        height: 100px;
    }
    .overall-box{
        margin-left: 6.66%;
    }

    .overall-heading{
        font-size: 40px;
    }
    .overall-icon{
        padding: 5px;
        font-size: 19px;
    }
    .fb-icon{
        padding:5px 8px;
    }
    
    .overall-title{
        font-size: 20px;
    }
    .overall-post{
        font-size: 14px;
    }
    .overall-section-dots{
        width: 100px;
    }
  } 
@media screen and (max-width: 800px) {

    nav{
        margin-right: 0px;
    }

}

@media screen and (max-width:764px)
{

    .theme-button{
        transform: scale(0.7);
        right: -200px;
    }

    .switch{
        right: -100px;
    }

    .navbar-right{
        background-color: #000000 !important;
    } 

    .navbar-nav li a{
        color: #13F7D2 !important;
    }

}

#particles-js{
    z-index: -9;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 0px;
    background: transparent;
}

@media screen and (max-width:480px)
{

    nav{
        margin-top: 0px !important;
    }

    .footer{
        padding-top:10px ;
    }
    
    .overall-section{
        margin-bottom: 50px;
    }

    .navbar-fixed-top{
        opacity: 2;
        /* z-index: 9999; */
        /* background-color: #343538 !important; */
        /* background-color: #252628 !important; */
        width: 102%;
        padding-bottom: 9px !important;
    }

    .nav-logo.scroll-img{
        top: 20px !important;
        transform: scale(0.8);
        /* left:40px !important; */
    }

    .navbar{
        width: 106% !important;
        /* margin-right: -40px !important; */
    }

    .navbar-nav a::before{
        display: none;
    }

    .nav-logo{
        top:35px !important; 
        left:50px !important;
    }

    .navbar-nav li a{
        margin-left: 20px !important;
        font-size: 15px;
        color: #13F7D2 !important;
    }

    .navbar-right{
        background-color: #000000 !important;
    }

    .switch{
        top:-24px;
        right: -60px;
    }

    .intro-header{
        padding-top:180px;
        padding-bottom:50px;
    }

    .intro-header .sub-heading{
        position: relative;
        top:20px;
        font-size: 25px;
        /* left:9%; */
    }

    .intro-header .main-heading{
        position: relative;
        top: -10px;
        font-size: 50px;
        /* left:9%; */
    }

    .intro-header p{
        top:-10px;
        font-size: 13px;
        max-width: 100ch;
        /* left:-8%; */
        padding-bottom: 20px;
    }

    .footer{
        padding-top: -20px;
        height: 420px;
        padding-right: 0px;
        padding-left: 20px;
        text-align: center;
    }

    .blogs{
        transform: scale(0.7);
    }

    .blogs button{
        width: 300px;
    }

    .contacts{
        margin: 0 auto;
        transform: scale(0.7);
        padding-bottom: 50px;
    }

    .contacts a{
        margin: 0 5px;
    }

    #particles-js{
        height: 80%;
    }
}
