body{
    background-color: #252628;
}
.font-color{
    color: #13F7D2;
    
}
.view-all{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #13F7D2;
    margin-bottom: 0px;
}
.arrow-down{
    text-align: center;
    color: #13F7D2;
    font-size: 24px;
    font-weight:800px ;
}
.wing-section{
    display:inline-block;
}
.wing-box{
    width: 25%;
    padding: 20px;
    margin-left: 4%;
    margin-top: 5%;
    display: inline;
    float: left;
}
.wing-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}
.wing-dis{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.wing-image{
    width: 80px;
    height: 67px;
}
.more{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    text-decoration: none;
    color: #13F7D2;
}
.dot-image{
    margin-left: 44%;
    margin-top: 100px;
}
.overall-section{
    width: 90%;
    margin-left: 5%;
    display: inline-block;
    background-color: #343538;
    margin-top: 100px;
    margin-bottom: 100px;
}

.overall-heading{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 79px;
    color: #13F7D2;
    display: inline;
    float: left;
    padding: 20px;
    margin-left: 3%;
}
.overall-box-cover{
    margin-left: 10%;
    display: inline-block;
    width:55%;
    margin-top: 150px;
}
.overall-box{
    display: inline;
    float: left;
    margin-left: 4%;
    width: 40%;
}
.overall-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}
.overall-post{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #13F7D2;
    text-align: center;
}
.overall-image{
    width: 200px;
    height: 200px;
    background-color: #C4C4C4;
    margin-left: 17%;
}
@media only screen and (max-width: 800px) {
    .wing-box{
        width: 40%;
        padding: 20px;
        margin-left: 3%;
        margin-top: 5%;
        display: inline;
        float: left;
    }
    .overall-box-cover{
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
    }
    .dot-image{
        margin-left: 6%;
    }
    .overall-box{
        margin-left: 6.66%;
    }
  } 